.header {
  background-color: rgba(122, 150, 250, 0.5647058824);
  padding-top: 3px;
  display: flex;
  top: 0%;
  position: relative;
  width: 100%;
}
.header .topContainer {
  width: 98%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header .topContainer #logoHeader {
  margin: 0.5rem;
  border-radius: 90px;
  width: 90px;
  height: 90px;
}
.header .topContainer .textoHeader {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 23%;
}
.header .topContainer .textoHeader #textoHeader {
  margin: 0.2rem;
  line-height: 40px;
  font-size: 30px;
  padding-left: 0px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.header .topContainer #textoHeaderResponsive {
  line-height: 20px;
  font-size: 30px;
  padding-left: 0px;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: none;
  margin: 0.5rem;
}
.header .topContainer .navegador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}
.header .topContainer .navegador ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.header .topContainer .navegador ul li {
  display: inline-block;
}
.header .topContainer .navegador ul li .enlacesHeader {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.header .topContainer .navegador ul li a {
  font-size: 20px;
  display: block;
  padding: 1px 15px;
  transition: all 0.3s linear;
  border-radius: 20px;
  line-height: 30px;
}
.header .topContainer .navegador ul li a:hover {
  background: rgba(0, 0, 0, 0), 255;
  color: #000000;
}
.header .topContainer .navegador ul #bloqueSign {
  margin: 0.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1px 7px 5px 8px;
  font-size: 15px;
}
.header .topContainer .navegador ul #bloqueSign #signIn {
  color: rgb(54, 85, 200);
  text-decoration: none;
  margin: 2px;
  font-size: 20px;
  border: dotted rgb(50, 50, 50);
}

#bloqueSignResponsive {
  display: none;
}

.toggle {
  color: #ffffff;
  margin-right: 20px;
  font-size: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.gridIndex {
  display: grid;
  justify-items: center;
}
.gridIndex .containerCarousel {
  display: flex;
  margin: 0.5rem;
  max-width: 28rem;
}
.gridIndex .containerCarousel .imgCarousel {
  width: 100%;
  height: 45vh;
}
.gridIndex .containerCarousel .carouselText {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  opacity: 0.7;
}
.gridIndex .containerCarousel .carouselText h5 {
  color: #000;
}
.gridIndex .containerCarousel .carouselText p {
  color: #000;
}
.gridIndex .containerCarousel .carouselText2 {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  opacity: 0.85;
}
.gridIndex .containerCarousel .carouselText2 h5 {
  color: rgb(255, 255, 255);
}
.gridIndex .containerCarousel .carouselText2 p {
  color: rgb(255, 255, 255);
}
.gridIndex .containerCarousel .carouselText3 {
  background-color: rgb(14, 2, 2);
  border-radius: 1rem;
  opacity: 0.85;
}
.gridIndex .containerCarousel .carouselText3 h5 {
  color: rgb(255, 0, 0);
}
.gridIndex .containerCarousel .carouselText3 p {
  color: rgb(255, 0, 0);
}
.gridIndex .containerInfoIndex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.gridIndex .containerInfoIndex .containerFlexLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  border: solid;
  background-color: rgb(202, 222, 227);
  margin: 1rem;
}
.gridIndex .containerInfoIndex .containerFlexRight {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border: solid;
  background-color: rgb(202, 222, 227);
  margin: 2rem;
}
.gridIndex .containerInfoIndex .informationFlex {
  padding: 1rem;
  width: 50%;
  text-align: justify;
}
.gridIndex .containerInfoIndex .informationFlex .flexText {
  font-size: 1.5rem;
}
.gridIndex .containerInfoIndex .imgFlex {
  width: 45%;
}
.gridIndex .containerInfoIndex .imgFlex .imgRight {
  height: 100%;
  width: 100%;
}
.gridIndex .containerInfoIndex .imgFlex .imgLeft {
  height: 100%;
  width: 100%;
}

.containerProgramas {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0.2rem;
}
.containerProgramas .programasTabla {
  padding: 0.5rem;
  width: 950%;
}
.containerProgramas .programasTabla .buttonCompraTrainings {
  background: #f4f5f4;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 70;
  line-height: 15px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border-style: solid;
}
.containerProgramas .programasTabla .buttonCompraTrainings:hover {
  background: #6aca4c;
  transition: all 0.8s linear;
  margin: auto;
  color: #000000;
}

.containerStore {
  display: flex;
  width: 98%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.containerStore .storeSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 45px;
}
.containerStore .storeSection h1 {
  padding: 1rem;
  color: #000000;
}
.containerStore .storeSection .storeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: auto;
}
.containerStore .storeSection .storeCards .card-container {
  width: 400px;
  height: 600px;
  margin: 0.5rem;
}
.containerStore .storeSection .storeCards .card-container .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.containerStore .storeSection .storeCards .card-container .card {
  height: 100% !important;
}
.containerStore .storeSection .storeCards .card-container text-center {
  height: 100%;
}
.containerStore .storeSection .storeCards .card-container img {
  width: 170px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.containerStore .storeSection .storeCards .card-container a {
  font-size: 1.5rem;
  text-decoration: overline;
  color: green;
}

.tituloBlog {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

.flexBlog {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}
.flexBlog .mainBlog {
  display: flex;
}
.flexBlog .articuloBlog {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
  margin: 5px 5px 5px 5px;
}
.flexBlog .articuloBlog .contenedorCard {
  display: flex;
  background-color: rgba(72, 69, 69, 0.8784313725);
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.flexBlog .articuloBlog .contenedorCard .imgCardBlog {
  width: 23rem !important;
}

.containerSignIn {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.containerSignIn .formSignIn {
  display: flex;
  padding-top: 0.2rem;
  width: 70%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.containerSignIn .formSignIn div {
  padding: 0.5rem;
  text-align: center;
}
.containerSignIn .formSignIn div label {
  padding: 0.5rem;
  font-size: 2rem;
}
.containerSignIn .formSignIn button {
  margin-top: 0.6rem;
  width: 100px;
  align-items: center;
}
.containerSignIn .signInRegister {
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #000000;
  cursor: pointer;
  padding: 8px 18px;
  text-decoration: none;
}
.containerSignIn .signInRegister:hover {
  background-color: rgb(85, 216, 73);
  transition: all 0.8s;
  color: #000000;
}

.containerRegister {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.containerRegister h1 {
  padding-top: 1rem;
}
.containerRegister .seccionRegistro {
  padding-top: 2rem;
  width: 65%;
}
.containerRegister .seccionRegistro .formRegister {
  text-align: center;
}
.containerRegister .seccionRegistro .botonFormReset {
  background-color: rgb(255, 255, 255);
  background: #ffffff;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 70;
  line-height: 15px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border-style: solid;
}
.containerRegister .seccionRegistro .botonFormReset:hover {
  background-color: rgb(227, 68, 68);
  transition: all 0.8s linear;
  margin: auto;
  color: #ffffff;
  line-height: 18px;
}
.containerRegister .seccionRegistro .botonFormRegister {
  background-color: rgb(255, 255, 255);
  background: #ffffff;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 70;
  line-height: 15px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border-style: solid;
}
.containerRegister .seccionRegistro .botonFormRegister:hover {
  background-color: rgb(85, 216, 73);
  transition: all 0.8s linear;
  margin: auto;
  color: #000000;
  line-height: 18px;
}

.containerSupport {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 95%;
  margin-bottom: 2rem;
}
.containerSupport h1 {
  padding: 1rem;
  font-size: 3rem;
}
.containerSupport .sectionSupport {
  display: flex;
  width: 95%;
  flex-direction: column;
}
.containerSupport .sectionSupport .formSupport {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.containerSupport .sectionSupport .formSupport .mb-3 {
  text-align: center;
  font-size: 2rem;
}
.containerSupport .sectionSupport .formSupport .askSupport {
  background-color: rgb(255, 255, 255);
  background: #ffffff;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 70;
  line-height: 15px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border-style: solid;
}
.containerSupport .sectionSupport .formSupport .askSupport .askSupport:hover {
  background-color: rgb(85, 216, 73);
  transition: all 0.8s linear;
  margin: auto;
  color: #000000;
  line-height: 18px;
}

.containerPayMethod {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 85%;
  align-self: center;
}
.containerPayMethod .containerTextPay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.containerPayMethod .containerTextPay h1 {
  font-size: 3.5rem;
}
.containerPayMethod .containerTextPay h4 {
  font-size: 2.5rem;
}
.containerPayMethod .seccionRegistro {
  padding: 1rem;
}
.containerPayMethod .seccionRegistro form {
  display: flex;
  justify-content: center;
}
.containerPayMethod .seccionRegistro form div {
  text-align: center;
}
.containerPayMethod .seccionRegistro form div .form-label {
  font-size: 1.2rem;
}
.containerPayMethod .seccionRegistro form div input {
  text-align: center;
}
.containerPayMethod .seccionRegistro form div select {
  text-align: center;
}

footer {
  display: flex;
  bottom: 0%;
  position: absolute;
  width: 100%;
}
footer .footerContainer {
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  align-content: space-between;
}
footer .footerContainer .footerLinks {
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
}
footer .footerContainer .footerLinks a {
  text-decoration: none;
  padding: 10px;
}
footer .footerContainer .footerSupport {
  display: flex;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  border-radius: 90px;
  padding: 1px;
  font-size: 20px;
  width: 6rem;
  margin: 0.5rem;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}
footer .footerContainer .footerSupport a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 840px) {
  #bloqueSign {
    display: none;
  }
  #bloqueSignResponsive {
    display: block;
  }
  #bloqueSignResponsive #signInResponsive {
    background-color: rgb(253, 253, 253);
    color: #000;
    -webkit-text-decoration: solid;
            text-decoration: solid;
  }
  #textoHeader {
    font-size: 18px;
  }
  .containerCarousel {
    max-width: 35rem;
  }
  .gridIndex .containerInfoIndex {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  .gridIndex .containerInfoIndex .containerFlexLeft {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .gridIndex .containerInfoIndex .containerFlexRight {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .gridIndex .containerInfoIndex .informationFlex {
    padding: 0.5rem;
  }
  .gridIndex .containerInfoIndex .informationFlex .flexText {
    font-size: 1.2rem;
  }
  .gridIndex .containerInfoIndex .imgFlex {
    width: 45%;
  }
  .gridIndex .containerInfoIndex .imgFlex .imgRight {
    height: 100%;
    width: 100%;
  }
  .gridIndex .containerInfoIndex .imgFlex .imgLeft {
    height: 100%;
    width: 100%;
  }
  .tituloBlog {
    font-size: 20px;
  }
  .articuloBlog {
    padding: 8px;
    margin: 4px 4px 4px 4px;
  }
  table {
    -webkit-border-horizontal-spacing: 25px;
    -webkit-border-vertical-spacing: 25px;
  }
}
@media screen and (max-width: 768px) {
  #textoHeader {
    font-size: 15px;
  }
  #logoHeader {
    width: 70px;
    height: 70px;
  }
  .navegador ul li a {
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    transition: all 0.3s linear;
    border-radius: 20px;
    line-height: 25px;
  }
  .tituloBlog {
    font-size: 24px;
  }
  .articuloBlog {
    padding: 8px;
    margin: 4px 4px 4px 4px;
  }
  .blogText {
    font-size: 15px;
    line-height: 24px;
  }
  .tituloBlog {
    font-size: 21px;
  }
  .articuloBlog {
    padding: 8px;
    margin: 4px 4px 4px 4px;
  }
  table {
    -webkit-border-horizontal-spacing: 20px;
    -webkit-border-vertical-spacing: 20px;
  }
  .containerCarousel {
    max-width: 30rem;
  }
  .containerPayMethod {
    padding: 1rem;
    width: 80%;
  }
  .containerPayMethod .containerTextPay h1 {
    font-size: 3rem;
  }
  .containerPayMethod .containerTextPay h4 {
    font-size: 2rem;
  }
  .containerPayMethod .seccionRegistro {
    padding: 1rem;
  }
  .containerPayMethod .seccionRegistro form div .form-label {
    font-size: 3rem;
  }
  .containerPayMethod .seccionRegistro form div input {
    font-size: 2rem;
  }
  .containerPayMethod .seccionRegistro form div select {
    font-size: 2rem;
  }
  .containerPayMethod .seccionRegistro form div button {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .textoHeader {
    display: none !important;
  }
  #textoHeaderResponsive {
    display: block !important;
  }
  .navegador ul li a {
    font-size: 13px;
    display: block;
    padding: 8px 10px;
    transition: all 0.3s linear;
    border-radius: 20px;
    line-height: 20px;
  }
  #logoHeader {
    width: 50px;
    height: 50px;
  }
  .footerResponsive {
    display: none;
  }
  .gridIndex .containerInfoIndex {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .gridIndex .containerInfoIndex .containerFlexLeft {
    display: flex;
    flex-direction: column;
  }
  .gridIndex .containerInfoIndex .containerFlexRight {
    display: flex;
    flex-direction: column;
  }
  .gridIndex .containerInfoIndex .informationFlex {
    padding: 1rem;
    width: 100%;
    text-align: justify;
  }
  .gridIndex .containerInfoIndex .informationFlex .flexText {
    font-size: 1.2rem;
  }
  .gridIndex .containerInfoIndex .imgFlex {
    width: 60%;
  }
  .gridIndex .containerInfoIndex .imgFlex .imgRight {
    height: 100%;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .gridIndex .containerInfoIndex .imgFlex .imgLeft {
    height: 100%;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .tituloBlog {
    font-size: 20px;
  }
  .articuloBlog {
    padding: 8px;
    margin: 4px 4px 4px 4px;
  }
  .blogText {
    font-size: 10px;
    line-height: 24px;
  }
  table {
    -webkit-border-horizontal-spacing: 15px;
    -webkit-border-vertical-spacing: 15px;
  }
  .containerCarousel {
    max-width: 20rem;
  }
  .carouselText0 {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    opacity: 0.7;
  }
  .carouselText0 h5 {
    color: #000;
  }
  .carouselText0 p {
    color: #000;
  }
  .carouselText {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    opacity: 0.7;
  }
  .carouselText h5 {
    color: #000;
    font-size: 1rem;
  }
  .carouselText p {
    color: #000;
    font-size: 0.8rem;
  }
  .containerPayMethod {
    padding: 0.5rem;
    width: 80%;
  }
  .containerPayMethod .containerTextPay h1 {
    font-size: 2.5rem;
  }
  .containerPayMethod .containerTextPay h4 {
    font-size: 1.5rem;
  }
  .containerPayMethod .seccionRegistro {
    padding: 1rem;
  }
  .containerPayMethod .seccionRegistro form div .form-label {
    font-size: 2.5rem;
  }
  .containerPayMethod .seccionRegistro form div input {
    font-size: 1.5rem;
  }
  .containerPayMethod .seccionRegistro form div select {
    font-size: 1.5rem;
  }
  .containerPayMethod .seccionRegistro form div button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .containerCarousel {
    display: none !important;
  }
  .topContainer {
    align-items: center !important;
    flex-direction: column !important;
  }
  .navegador {
    margin: 0.5rem;
  }
  .navegador ul {
    margin: 1rem;
    padding: 10px;
    list-style: none;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly !important;
  }
  .navegador ul li a {
    font-size: 1.5rem !important;
    padding: 2px 10px;
    border-radius: 0px;
    line-height: 4rem !important;
  }
  .navegador ul li a:hover {
    background-color: #a6c6e0;
  }
  .gridIndex .containerInfoIndex {
    padding: 0.5rem;
  }
  .gridIndex .containerInfoIndex .informationFlex {
    padding: 0.5rem;
  }
  .gridIndex .containerInfoIndex .informationFlex .flexText {
    font-size: 1rem;
  }
  .tituloBlog {
    font-size: 20px;
  }
  .articuloBlog {
    padding: 8px;
    margin: 4px 4px 4px 4px;
  }
  .blogText {
    font-size: 9px;
  }
  table {
    -webkit-border-horizontal-spacing: 10px;
    -webkit-border-vertical-spacing: 10px;
  }
  .containerPayMethod {
    padding: 0.5rem;
    width: 80%;
  }
  .containerPayMethod .containerTextPay h1 {
    font-size: 2rem;
  }
  .containerPayMethod .containerTextPay h4 {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro {
    padding: 1rem;
  }
  .containerPayMethod .seccionRegistro form div .form-label {
    font-size: 2rem;
  }
  .containerPayMethod .seccionRegistro form div input {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro form div select {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro form div button {
    font-size: 1rem;
  }
  .containerSignIn h1 {
    font-size: 1.7rem;
  }
  .containerSignIn .formSignIn div label {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .navegador ul li a {
    font-size: 1.2rem !important;
  }
  .navegador ul li a:hover {
    background-color: #a6c6e0;
  }
  i {
    font-size: 15px;
    padding-left: 2px;
    margin-left: 2px;
  }
  .footerSupport {
    border-radius: 90px;
    font-size: 15px;
    width: 60px;
  }
  .footerSupport a {
    padding: 1px;
  }
  .footerLinks {
    padding: 0.5px;
    margin-left: 3px;
    margin-right: 1px;
  }
  .tituloBlog {
    font-size: 18px;
  }
  .articuloBlog {
    padding: 6px;
    margin: 4px 4px 4px 4px;
  }
  .blogText {
    font-size: 9px;
  }
  .containerProgramas h1 {
    font-size: 20px;
  }
  .containerRegistros h1 {
    font-size: 20px;
  }
  .containerCarousel {
    display: none;
  }
  .containerPayMethod {
    padding: 0.5rem;
    width: 80%;
  }
  .containerPayMethod .containerTextPay h1 {
    font-size: 2rem;
  }
  .containerPayMethod .containerTextPay h4 {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro {
    padding: 0.5rem;
  }
  .containerPayMethod .seccionRegistro form div .form-label {
    font-size: 2rem;
  }
  .containerPayMethod .seccionRegistro form div input {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro form div select {
    font-size: 1rem;
  }
  .containerPayMethod .seccionRegistro form div button {
    font-size: 1rem;
  }
}
* {
  font-family: "Noto Serif", serif;
}

body {
  background-color: rgba(114, 176, 227, 0.4274509804) !important;
  line-height: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  padding: 0px;
  position: relative;
  padding-bottom: 45px;
  padding-top: 0px;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */