.tituloBlog {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

.flexBlog {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  .mainBlog{
    display: flex;
  }
  .articuloBlog {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    
    .contenedorCard{
      display: flex;
      background-color: #484545e0;
      color: rgb(255, 255, 255);
      border-radius: .3rem;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      height: 38rem;
      width: 20rem;
    }  
  }
}



