%bodyAdjustment {
    line-height: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    padding: 0px;
    position: relative;
    padding-bottom: 45px;
    padding-top: 0px;
    min-height: 100vh;
};