.gridIndex {
  display: grid;
  justify-items: center;
  .containerCarousel{
    display: flex;
    margin: 0.5rem;
    max-width: 28rem;
    .imgCarousel{
      width: 100%;
      height: 45vh;
    }
    .carouselText{
      background-color: rgb(255, 255, 255) ;
      border-radius: 1rem;
      opacity: 0.7;
      h5{
        color: #000;
      }
      p{
        color: #000;
      }
    }
    .carouselText2{
      background-color: rgb(0, 0, 0) ;
      border-radius: 1rem;
      opacity: 0.85;
      h5{
        color: rgb(255, 255, 255);
      }
      p{
        color: rgb(255, 255, 255);
      }
    }
    .carouselText3{
      background-color: rgb(14, 2, 2) ;
      border-radius: 1rem;
      opacity: 0.85;
      h5{
        color: rgb(255, 0, 0);
      }
      p{
        color: rgb(255, 0, 0);
      }
    }
  }
  .containerInfoIndex{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .containerFlexLeft{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 1rem;
      justify-content: space-around;
      border: solid;
      background-color: rgb(202, 222, 227);
      margin: 1rem;
    }
    .containerFlexRight{
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-items: center;
      padding: 1rem;
      justify-content: space-between;
      border: solid;
      background-color: rgb(202, 222, 227);
      margin: 2rem;
    }
    .informationFlex{
      padding: 1rem;
      width: 50%;
      text-align: justify;
      .flexText{
        font-size: 1.5rem;
      }
    }
    .imgFlex{
      width: 45%;
      .imgRight{
        height: 100%;
        width: 100%;
      }
      .imgLeft{
        height: 100%;
        width: 100%;
      }
    }
  }
}


