$whiteButton: rgb(255, 255, 255);
$blackButton: rgb(0, 0, 0);
$textColor: rgb(0, 0, 0);


// Sign In<
.containerSignIn {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    .formSignIn{
      display: flex;
      padding-top: 0.2rem;
      width: 70%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      div{
        padding: 0.5rem;
        text-align: center;
        label{
          padding: 0.5rem;
          font-size: 2rem;
        }
      }
      button{
        margin-top: 0.6rem;
        width: 100px;
        align-items: center;
      }
    }
    .signInRegister{
      margin-top: 1rem;
      background-color: $whiteButton;
      border-radius: 999px;
      box-shadow: #5e5df0 0 10px 20px -10px;
      color: #000000;
      cursor: pointer;
      padding: 8px 18px;
      text-decoration: none;
      &:hover{
        @include hoverButton($color: map-get($buttons, "colorSuccess"));
        margin-top: 1rem;
      } 
    }
  }

  // Register
  .containerRegister{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    h1{
      padding-top: 1rem;
    }
    .seccionRegistro {
      padding-top: 2rem;
      width: 65%;
      .formRegister{
        text-align: center;
      }
      .botonFormReset{
        background-color: $whiteButton;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: $textColor ;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        &:hover{
          @include hoverButton($color: map-get($buttons, "colorDanger"));
        } 
      } 
      .botonFormRegister{
        background-color: $whiteButton;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: $textColor;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        &:hover{
          @include hoverButton($color: map-get($buttons, "colorSuccess"));
        } 
      } 
    }
  }


// Supports
.containerSupport{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 95%;
  margin-bottom: 2rem;
  h1{
    padding: 1rem;
    font-size: 2rem;
  }
  .sectionSupport{
    display: flex;
    width: 95%;
    flex-direction: column;
    .formSupport{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      .mb-3{
        text-align: center;
        font-size: 2rem;
      }
      .askSupport{
        background-color: $whiteButton;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color:$textColor;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        &:hover{
          @include hoverButton($color: map-get($buttons, "colorSuccess"));
        }
      }
    }
  }
}