// Sign In
.containerSignIn {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .formSignIn{
      display: flex;
      padding-top: 0.2rem;
      width: 70%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      div{
        padding: 0.5rem;
        text-align: center;
        label{
          padding: 0.5rem;
          font-size: 2rem;
        }
      }
      button{
        margin-top: 0.6rem;
        width: 100px;
        align-items: center;
      }
    }
    .signInRegister{
      margin-top: 1rem;
      background-color: rgb(255, 255, 255);
      border-radius: 999px;
      box-shadow: #5e5df0 0 10px 20px -10px;
      color: #000000;
      cursor: pointer;
      padding: 8px 18px;
      text-decoration: none;
      &:hover{
        background-color: rgb(85, 216, 73);
        transition: all 0.8s;
        color: #000000;
      } 
    }
  }

  // Register
  .containerRegister{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    h1{
      padding-top: 1rem;
    }
    .seccionRegistro {
      padding-top: 2rem;
      width: 65%;
      .formRegister{
        text-align: center;
      }
      .botonFormReset{
        background-color: rgb(255, 255, 255);
        background: #ffffff;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        &:hover{
          background-color: rgb(227, 68, 68);
              transition: all 0.8s linear;
              margin: auto;
              color: #ffffff;
              line-height: 18px;
        } 
      } 
      .botonFormRegister{
        background-color: rgb(255, 255, 255);
        background: #ffffff;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        &:hover{
          background-color: rgb(85, 216, 73);
          transition: all 0.8s linear;
          margin: auto;
          color: #000000;
          line-height: 18px;
        } 
      } 
    }
  }


// Supports
.containerSupport{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 95%;
  margin-bottom: 2rem;
  h1{
    padding: 1rem;
    font-size: 3rem;
  }
  .sectionSupport{
    display: flex;
    width: 95%;
    flex-direction: column;
    .formSupport{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      .mb-3{
        text-align: center;
        font-size: 2rem;
      }
      .askSupport{
        background-color: rgb(255, 255, 255);
        background: #ffffff;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        font-size: 15px;
        font-weight: 70;
        line-height: 15px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border-style: solid;
        .askSupport:hover{
          background-color: rgb(85, 216, 73);
          transition: all 0.8s linear;
          margin: auto;
          color: #000000;
          line-height: 18px;
        }
      }
    }
  }
}