$colorCardLink : rgb(120, 160, 120);

.containerStore {
  display: flex;
  width: 98%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  .storeSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 45px;
    h1{
      padding: 1rem;
      color: #000000;
    }
    .storeCards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      margin: auto;
      .card-container{
        width: 400px;
        height: 600px;
        margin: 0.5rem;
        .card-body{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          align-items: center;
          justify-content: center;
        }
        .card{
          height: 100% !important;
        }
        text-center{
          height: 100%;
        }
        img{
          width: 170px;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
        }
        a{
          font-size: 1.5rem;
          text-decoration: overline;
          color: $colorCardLink;
        }
      }
    }
  }
}


