.containerStore {
  display: flex;
  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  .storeSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 45px;
    h1{
      padding: 1rem;
      color: #000000;
    }
    .storeCards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      margin: auto;
      .card-container{
        width: 400px;
        height: 550px;
        margin: 0.5rem;
        text-center{
          width: 100%;
          height: 100%;
        }
        img{
          width: 150px;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}


