.containerProgramas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .programasTabla {
    display: flex;
    padding-bottom: 2rem;
  }
  .tablePrograms {
    text-align: center;
  }
  .thProgramsBasic {
    color: #ff00a2;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .thProgramsIntermediate {
    background-color: #3a3a93b6;
    font-size: 20px;
    color: #b8288a;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .thProgramsAdvanced {
    background-color: #19198de2;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .buttonCompraTrainings{
    background: #f4f5f4;
    border-radius: 999px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 70;
    line-height: 15px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border-style: solid;
  } 
  .buttonCompraTrainings:hover{
      background: #6aca4c;
      transition: all 0.8s linear;
      margin: auto;
      color: #000000;
  }
  