.containerProgramas {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0.2rem;
  .programasTabla {
    padding: 0.5rem;
    width: 950%;
    .buttonCompraTrainings{
      background: #f4f5f4;
      border-radius: 999px;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      font-size: 15px;
      font-weight: 70;
      line-height: 15px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border-style: solid;
      &:hover{
        background: #6aca4c;
        transition: all 0.8s linear;
        margin: auto;
        color: #000000;
      }
    } 
  }
}